* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.table-h2 {
  width: fit-content;
  margin: 1% auto;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}

@media only screen and (max-width: 800px) {
  .table-h2 {
    font-size: 16px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 500px) {
  .table-h2 {
    text-align: center;
    width: 85%;
  }
}